name: Deploy to test

on:
  pull_request:
    types:
      - closed
    branches:
      - main

jobs:
  publish-coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '25.x'
      - name: Install dependencies for Fractal Cloud SDK
        run: |
          npm install
      - name: Run Unit Tests for Fractal Cloud SDK
        run: |
          npm run test
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: Fractal-Cloud/fractal-ts-sdk
          override_branch: main
