name: Release Fractal Cloud SDK Package to npmjs

on:
  release:
    types: [created]
jobs:
  release:
    permissions:
      contents: 'read'
      id-token: 'write'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: '25.x'
          registry-url: 'https://registry.npmjs.org'
      - run: |
          git config --global user.email "hello@fractal.cloud"
          git config --global user.name "HAL9000"
      - run: npm ci
      - run: npm version ${{ github.event.release.tag_name }}
      - run: npm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
